Repository Alexamakans/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, shfmt, stylua, prettier

.pre-commit-config.yaml:

repos:
  # Generic sanity/cleanup for all text files (great for *.conf)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: detect-private-key
      - id: check-merge-conflict

  # Format Nix files
  - repo: local
    hooks:
      - id: alejandra
        name: alejandra (nixpkgs)
        entry: alejandra
        language: system
        types_or: [nix]

  # Shell: formatter + linter
  - repo: local
    hooks:
      - id: shfmt
        name: shfmt (nixpkgs)
        entry: shfmt
        language: system
        args: [-i, "2", -ci, -bn] # 2-space indent, indent switch cases, binary ops at line start
        files: \.sh$

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        files: \.sh$

  # Lua: formatter
  - repo: local
    hooks:
      - id: stylua
        name: stylua (nixpkgs)
        entry: stylua
        language: system
        files: \.lua$

  # CSS (and more, if you want later) via Prettier
  - repo: local
    hooks:
      - id: prettier
        name: prettier (nixpkgs)
        entry: prettier
        language: system
        types: [css, toml]
        # If you later want Prettier for more types, add them to files or use types: [css, ...]
  - repo: local
    hooks:
      - id: luacheck
        name: luacheck (neovim lua linter)
        entry: luacheck
        language: system # use the luacheck provided by Nix
        types_or: [lua]
        files: \.lua$
        # run on changed files; use `pre-commit run luacheck -a` to lint all

things
  files/.config/hypr/conf.d/__empty__.conf
  files/.config/hypr/hyprland.conf
  files/.config/nvim/after/plugin/lsp.lua
  files/.config/nvim/after/plugin/null-ls.lua
  home/alex/home.nix
  home/template/home.nix
Due: alejandra, stylua

things
  files/.config/hypr/hyprland.conf
  files/.config/waybar/config.nix
  flake.lock
  home/alex/home.nix
  hosts/alex/configuration.nix
  modules/viture-dynamic-display.nix
Due: alejandra

add keybind for viture zoom-in/out-fov and make all zoom keybinds repeat
  files/.config/hypr/hyprland.conf
Due: none

add mdformat to nvim
  files/.config/nvim/after/plugin/null-ls.lua
Due: stylua

things
  files/.config/hypr/hyprland.conf
  files/.config/waybar/config.nix
  home/alex/home.nix
  hosts/alex/configuration.nix
  hosts/alex/hardware-configuration.nix
  modules/uv-offline.nix
Due: alejandra

things
  .gitignore
  files/.config/hypr/hyprland.conf
  home/alex/home.nix
  hosts/alex/configuration.nix
Due: alejandra

things
  files/.config/weechat/alias.conf
  files/.config/weechat/buflist.conf
  files/.config/weechat/charset.conf
  files/.config/weechat/exec.conf
  files/.config/weechat/fifo.conf
  files/.config/weechat/fset.conf
  files/.config/weechat/guile.conf
  files/.config/weechat/irc.conf
  files/.config/weechat/logger.conf
  files/.config/weechat/lua.conf
  files/.config/weechat/perl.conf
  files/.config/weechat/plugins.conf
  files/.config/weechat/python.conf
  files/.config/weechat/relay.conf
  files/.config/weechat/ruby.conf
  files/.config/weechat/script.conf
  files/.config/weechat/sec.conf
  files/.config/weechat/spell.conf
  files/.config/weechat/tcl.conf
  files/.config/weechat/trigger.conf
  files/.config/weechat/typing.conf
  files/.config/weechat/weechat.conf
  files/.config/weechat/xfer.conf
  home/alex/home.nix
  hosts/alex/configuration.nix
  modules/viture-dynamic-display.nix
Due: alejandra

tings
  files/.config/hypr/hyprland.conf
  files/.config/nvim/after/plugin/lsp.lua
  files/.config/nvim/after/plugin/null-ls.lua
  files/.config/weechat/irc.conf
  home/alex/home.nix
  hosts/alex/configuration.nix
  hosts/alex/hardware-configuration.nix
Due: alejandra, stylua

stuff
  home/alex/home.nix
  modules/viture-dynamic-display.nix
Due: alejandra

update nvim conf
  files/.config/nvim/lua/alex/lsp.lua
  home/alex/home.nix
  home/template/home.nix
  hosts/alex/configuration.nix
  hosts/template/configuration.nix
Due: alejandra, stylua

move env var
  home/alex/home.nix
  hosts/alex/configuration.nix
Due: alejandra

install uv2nix
  .nvim-profile
  files/.config/nvim/lua/alex/lsp.lua
  home/alex/home.nix
Due: alejandra, stylua

remove uv2nix
  home/alex/home.nix
Due: alejandra

fix gitconfig
  files/.gitconfig
  files/.gitconfig-ssh
Due: none

update nvim config
  files/.config/nvim-golang/init.lua
  files/.config/nvim-python/init.lua
  files/.config/nvim/lua/alex/graphics/render_whitespace.lua
Due: stylua

fix things
  files/.bashrc
  files/.gitconfig
  home/alex/home.nix
  hosts/alex/configuration.nix
  hosts/template/configuration.nix
Due: alejandra
